NOTION_TOKEN=
NOTION_EVENTS_DATABASE_ID=
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_EVENT_SUBMISSION_FORM_URL=https://tally.so/r/example-submission
NUXT_PUBLIC_EVENT_REPORT_FORM_URL=https://tally.so/r/example-report
